#bg
{
    background-repeat: no-repeat;
    background-size: cover;
}

#reset
{
    margin-top: 50px;
    margin-left: 1200px;
    border-width: 5px;
    border-style: grooves;
    background-color: yellow;
    text-decoration-style: dotted;
}

#number
{
    margin-top: 50px;
    
    border-width: 5px;
    border-style: grooves;
    text-decoration-style: dotted;
}

#tambola
{
    margin-left:500px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(71, 203, 255);
    
    text-decoration-style: dotted;
}
